# Fichiers générés par le système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de logs
*.log

# Fichiers de configuration de l'IDE (Eclipse)
.project
.classpath
.settings/

# Dossiers de sortie compilés (très importants à ignorer)
bin/
build/
target/
# docs/

# Fichiers JAR
# Ignore tous les fichiers .jar par défaut...
*.jar
# ...sauf les fichiers JAR exécutables que vous voulez partager.
!cli.jar
!gui.jar

# Fichiers d'archive
*.war
*.ear

# Fichiers de préférences utilisateur
preferences.ser